.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}
