.btn {
  display: inline-block;
  background-color: white;
  color: red;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 30px;
}

.btn:hover {
  background-color: red;
  color: white;
}
